[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "packagepal"]
	path = packagepal
	url = https://github.com/lddurbin/packagepal
